<div class="text-center">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-listings" }) do |f| %>
<div class="form-cl">
<h2 class="text-center">Settings</h2>
  <%= f.error_notification %>
 
    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email", input_html: {class: "form-control"} %>
 
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
 
    <%= f.input :password, autocomplete: "off", required: false, label: false, placeholder: "New Password", input_html: {class: "form-control"} %>
    <%= f.input :password_confirmation, required: false, label: false, placeholder: "New Password Confirmation", input_html: {class: "form-control"} %>
    <%= f.input :current_password, required: false, label: false, placeholder: "Current Password", input_html: {class: "form-control"} %>
    <p> We will need your current password to confirm your changes. </p>
    <p> <%= f.input :firstname, required: false, autofocus: true, label: false, placeholder: "First Name", input_html: {class: "form-control"} %> 
    <%= f.input :lastname, required: false, autofocus: true, label: false, placeholder: "Last Name", input_html: {class: "form-control"} %>
     <p> Gender: <%= f.select :gender, options_for_gender, {}, prompt: 'Select One',  placeholder: "First Name", input_html: {class: "form-control"} %> </p>
     	<p><%= f.date_select :date_of_birth, :start_year => Date.current.year, :end_year => 1920 %></p>
    <%= f.input :avatar, input_html: {class: "listingsm"}  %>
    <p><%= image_tag @user.avatar.url(), :class => "listimgsm" %>
    </p>


    <%= f.button :submit, "Update", class: "btn btn-primary btn-block" %>
<% end %>
 <br>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
 
<%= link_to "Back", :back %>
</div></div>