<%= simple_form_for(@listing, html: {class: "form-signin"}) do |f| %>
  <%= f.error_notification %>

    <%= f.input :title, required: true, label: false, placeholder: "Title", input_html: {class: "form-control"} %>
    <%= f.input :price, required: true, label: false, placeholder: "Price", input_html: {class: "forn-control"} %>
    <%= f.input :description, required: true, label: false, placeholder: "Description", input_html: {class: "form-control", rows: 9} %>
<p> Availability</p>
Calendar will go here

    <%= f.button :submit, class: "btn btn-primary btn-block" %>

<% end %>
