<br>
<%= simple_form_for(@listing, html: { :class => "form-listings", :multipart => true }) do |f| %>
  <%= f.error_notification %>

    <h4 class="text-center">Contact Information</h4>
     <%= f.input :contactname, required: false, label: false, placeholder: "Name of Contact", input_html: {class: "form-control"} %>
     <%= f.input :contacttitle, required: false, label: false, placeholder: "Title of Contact", input_html: {class: "form-control"} %>
     <%= f.input :phonenumber, required: true, label: false, placeholder: "Phone Number (123) 123-1234", input_html: {class: "form-control", :maxlength => 14,} %>
     <%= f.input :email, required: true, label: false, placeholder: "E-mail", input_html: {class: "form-control"} %>

     <h4 class="text-center">Venue Details</h4>
    <%= f.input :title, required: true, label: false, placeholder: "Title of Venue", input_html: {class: "form-control"} %>
    <%= f.input :street, required: true, label: false, placeholder: "Address", input_html: {class: "form-control"} %>
    <%= f.input :street2, required: false, label: false, placeholder: "Optional: Apt/Suite/etc", input_html: {class: "form-control"} %>
    <%= f.input :city, required: true, label: false, placeholder: "City", input_html: {class: "form-control"} %>
 <%= f.input :province, collection: options_for_province, label: false, prompt: 'Province', required: true, class: 'form-control' %>
     <%= f.input :country, priority: ['CA', 'US'], required: true, label: false, placeholder: "Country", input_html: {class: "form-control"} %>
    <%= f.input :postalcode, required: true, label: false, placeholder: "Postal Code", input_html: {class: "form-control"} %>

    <p>
Venue type(s): [Hint: Hold ctrl or cmd (Mac) to select multiple]
 <%= f.select :venuetype_ids, Venuetype.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, :class => 'form-control' %></p>


    <p>
Event type(s): [Hint: Hold ctrl or cmd (Mac) to select multiple]
 <%= f.select :eventtype_ids, Eventtype.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, :class => 'form-control' %></p>


	<%= f.input :mincapacity, required: true, label: false, placeholder: "Minimum Capacity", input_html: {class: "form-control"} %>
	<%= f.input :maxcapacity, required: true, label: false, placeholder: "Maximum Capacity", input_html: {class: "form-control"} %>
    <%= f.input :price, required: true, label: false, placeholder: "Price", input_html: {class: "form-control"} %></p>

  <br><h4 class="text-center">Pictures</h4>
  <%= file_field_tag "photos[]", type: :file, required: true, multipart: true, class: 'dropzone' %>
  <br><% @listing.pictures.each do |picture| %>
  <%= link_to(image_tag(picture.photo.url, :width => '20%'), picture.photo.url, :class => 'fancybox-thumb', :rel => 'gallery' ) %>
<%= link_to "Delete photo", picture, :data => { :confirm => "Are you sure?" }, :method => :delete %>
  <% end %>

    <p>
    </p>
    <p>    <br><h4 class="text-center">Description</h4>
    <%= f.input :description, required: true, label: false, placeholder: "Description", input_html: {class: "form-control", rows: 12} %></p>
    <br>
<p><h4 class="text-center"> Parking</h4></p>
    <%= hidden_field_tag "listing[parking_ids][]", nil %>
<% Parking.all.each do |parking| %>
  <%= check_box_tag "listing[parking_ids][]", parking.id, @listing.parking_ids.include?(parking.id), id: dom_id(parking) %>
  <%= label_tag dom_id(parking), parking.name %><br>
<% end %> 
<Br>

<p><h4 class="text-center"> Amenities</h4></p>
    <%= hidden_field_tag "listing[amenity_ids][]", nil %>
<% Amenity.all.each do |amenity| %>
  <%= check_box_tag "listing[amenity_ids][]", amenity.id, @listing.amenity_ids.include?(amenity.id), id: dom_id(amenity) %>
  <%= label_tag dom_id(amenity), amenity.name %><br>
<% end %> 
<Br>

<p><h4 class="text-center"> Food</h4></p>
    <%= hidden_field_tag "listing[food_ids][]", nil %>
<% Food.all.each do |food| %>
  <%= check_box_tag "listing[food_ids][]", food.id, @listing.food_ids.include?(food.id), id: dom_id(food) %>
  <%= label_tag dom_id(food), food.name %><br>
<% end %> 
<Br>

<p><h4 class="text-center"> Alcohol</h4></p>
    <%= hidden_field_tag "listing[alcohol_ids][]", nil %>
<% Alcohol.all.each do |alcohol| %>
  <%= check_box_tag "listing[alcohol_ids][]", alcohol.id, @listing.alcohol_ids.include?(alcohol.id), id: dom_id(alcohol) %>
  <%= label_tag dom_id(alcohol), alcohol.name %><br>
<% end %> 
<Br>

<p><h4 class="text-center"> Reception</h4></p>
    <%= hidden_field_tag "listing[reception_ids][]", nil %>
<% Reception.all.each do |reception| %>
  <%= check_box_tag "listing[reception_ids][]", reception.id, @listing.reception_ids.include?(reception.id), id: dom_id(reception) %>
  <%= label_tag dom_id(reception), reception.name %><br>
<% end %> 
<Br>
<!--- <p> Availability</p>
Calendar will go here
-->

    <%= f.button :submit, class: "btn btn-primary btn-block" %>

<% end %>