<div class="col-md-6">
<div class="thumbnail">
<%= link_to listing_path(listing) do %>
<%= image_tag "listing.jpg", class: "img-responsive" %>
<% end %>
<div class="caption">
		<p><h5><%= link_to listing.title, listing_path(listing) %></h5><p>
			<p><% listing.venuetypes.each do |vt| %>
 	 <%= vt.name %><%= '/' unless vt == listing.venuetypes.last %>
	<% end %>

	- <%= listing.city %>, <%= listing.province %>
</p>

		<!-- PRICE: <p><%= number_to_currency(listing.price, :unit => "$") %></p>
	-->	
		
		<!-- DESCRIPTION: <p class="truncate lines-4"><%= truncate(listing.description, :ommision => "...", :length => 150) %></p>
	-->
</div>
</div>
</div>