<div class="col-md-3">
<div class="thumbnail">
<%= link_to listing_path(listing) do %>
<%= image_tag "listing.jpg", class: "img-responsive" %>
<% end %>
<div class="caption">
		<p><strong><%= link_to listing.title, listing_path(listing) %></strong><p>
		<p><%= number_to_currency(listing.price, :unit => "$") %></p>
		<p class="truncate lines-4"><%= truncate(listing.description, :ommision => "...", :length => 150) %></p>
</div>
</div>
</div>