<div class="col-md-6">
<div class="thumbnail">
  <%= link_to image_tag(listing.pictures.first.photo.url, :width => '100%'), listing_path(listing) %>

<div class="caption">
		<p><h5><%= link_to listing.title, listing_path(listing) %></h5></p>

			<p><% listing.venuetypes.each do |vt| %>
 	 <%= vt.name %><%= '/' unless vt == listing.venuetypes.last %>
	<% end %>

	- <%= listing.city %>, <%= listing.province %>
</p>
	<% if user_signed_in? %>
		<%- unless current_user.favourite_listings.exists?(id: listing.id) -%>
		<%= link_to favourite_listings_path(listing_id: listing), method: :post do %>
		<%= listing.favourites.count %> (Add to Favourites)
		<% end %>
		<%- else -%>
		<%= link_to favourite_listing_path(listing), method: :delete do %>
		<%= listing.favourites.count %> (Remove from Favourites)
		<% end %>
		<%- end -%>
	<% else %>
	Favourited <%= listing.favourites.count %> time(s).
	<% end %>




		<!-- PRICE: <p><%= number_to_currency(listing.price, :unit => "$") %></p>
	-->	
		
		<!-- DESCRIPTION: <p class="truncate lines-4"><%= truncate(listing.description, :ommision => "...", :length => 150) %></p>
	-->
</div>
</div>
</div>