<div class="media">
  <div class="media-left">
    <% if conversation.originator == nil %>
    <% else %>
<%= image_tag(conversation.originator.avatar(:square), :width => "100px")  %>
    <% end %>
  </div>
  <div class="media-body">
      <b><%= conversation.subject %></b><br>
      <% if conversation.originator == nil %>
         <small><b>From: </b>Deleted User</small><br>
      <% else %>
      <small><b>From: </b><%= conversation.originator.fullname %></small><br>
      <% end %>
      <small><b>Date: </b><%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
    <p><br>
    <%= truncate conversation.messages.last.body, length: 145 %>
    <br><%= link_to "View message", conversation_path(conversation)  %></p>
  </div>
</div>