<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
    <div class="form-group">
     <%= f.select(:recipients, recipients_options(@chosen_recipient), {}, { multiple: true , class: "form-control", :style => 'display:none'}) %>
        <%= f.select(:subject, subject_options(@chosen_splisting), {}, { class: "form-control", :style => 'display:none'}) %>
    </div>
    <h1 align="center">Request for booking</h1>
    <br><center>For  <%= link_to @chosen_splisting.title, :back %> </center>
    <div class="form-group">
      <%= f.label :message %>
      <%= f.text_area :body, class: 'form-control', placeholder: "Type your message here", rows: 4  %>
    </div>
 
    <%= f.submit "Send Message", class: "btn btn-success" %>
 

<% end %>
