                    <li class="sidebar-brand">
                    <li><center><%= image_tag(@current_user.avatar(:thumb))  %>
                    <li><h4>Welcome <%= @current_user.firstname %></h4></li></center>
                <li class="active">
                   <%= link_to "Dashboard", dashboard_path %>
                </li>
                <li><%= link_to "Inbox", mailbox_inbox_path %></li>
                <li>
                   <%= link_to "User Settings", edit_user_registration_path %>
                </li>
                <li>
                    <%= link_to "Favourites", favourites_path %>
                </li>
                <li>
                    <%= link_to "My Listings", dminlistings_path %>
                </li>
                