  <div class="row">
    <h1 class="text-center"><%= link_to image_tag('img/ui-sam.jpg', :class => "img-circle"), "#" %> All Venue Listings</h1>
     <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Contact Person</th>
            <th>Contact Title</th>    
            <th>Phone Number</th>  
            <th>E-mail</th> 
            <th>Location</th>   
            <th>Venue Type</th> 
            <th>Event Type</th> 
            <th>Min Capacity</th> 
            <th>Max Capacity</th> 
            <th>Price</th>  
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @listings.each do |listing| %> 
          <tr>
            <td><%= listing.id %></td>
            <td><%= link_to listing.title, listing_path(listing) %></td>
            <td><%= listing.contactname %></td>
            <td><%= listing.contacttitle %></td>
            <td><%= listing.phonenumber %></td>
            <td><%= listing.email %></td>
            <td><%= listing.location %></td>
            <td><%= Venuetype.find(listing.venuetype).name  %></td>
            <td><%= Eventtype.find(listing.eventtype).name  %></td>
            <td><%= listing.mincapacity %> </td>
            <td><%= listing.maxcapacity %></td>
            <td><%= number_to_currency(listing.price, :unit => "$")%></td>
            <td><%= link_to "Edit", edit_listing_path(listing) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    
    