 	<div class="row">
        <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="nav-collapse ">
            <ul class="sidebar-nav">
                <%= render 'pages/dashsidebar' %>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Simple Sidebar</h1>
                        <% if can? :manage, Listing %>
                 <%= link_to "New Listing", new_listing_path %>
                 <% end %> 

         <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>  
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @listings.each do |listing| %> 
          <tr>
            <td><%= listing.id %></td>
            <td><%= link_to listing.title, listing_path(listing) %></td>
            <td><%= listing.price %></td>
            <td><%= link_to "Edit", edit_listing_path(listing) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

        
   
    <% if can? :manage, @listing %>
        <%= link_to "New Event Type", new_eventtype_path %> | <%= link_to "See All Event Types", eventtypes_path %>
    <br><%= link_to "New Venue Type", new_venuetype_path %> | <%= link_to "See All Venue Types", venuetypes_path %>
    <% end %>
    

                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

                 