 <div class="form-cl">

 	<div class="row">
 		<h1 class="text-center"><%= link_to image_tag('img/ui-sam.jpg', :class => "img-circle"), "#" %> Dashboard</h1>
 		
 		<div class="col-md-4">
 			<h3 class="text-center">My Listings <%= link_to "New Listing", new_listing_path %> </h3>
 		 <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>  
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @listings.each do |listing| %> 
          <tr>
            <td><%= listing.id %></td>
            <td><%= link_to listing.title, listing_path(listing) %></td>
            <td><%= listing.price %></td>
            <td><%= link_to "Edit", edit_listing_path(listing) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
 		</div>
 		<div class="col-md-4">
 				<h3 class="text-center">Purchased</h3>
 		</div>
 		<div class="col-md-4">
 				<h3 class="text-center">Sales</h3>
 		</div>
 	</div>
 </div>