 	<div class="row">
        <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="nav-collapse ">
            <ul class="sidebar-nav">
                <%= render 'pages/dashsidebar' %>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div id="dash">
                        <h1 class="text-center">Welcome Back</h1>
                        <center>
        <%= link_to(mailbox_inbox_path) do %>
        Inbox (<%=unread_messages_count%>)
        <% end %> |
                   <%= link_to "User Settings", edit_user_registration_path %> |
                    <%= link_to "Favourites", favourites_path %> |
                    <%= link_to "My Listings", dminlistings_path %></center>
                </div>
    <div class="col-lg-6 col-lg-offset-3 text-center">
                <br><h1>Find the SPACE, buq it.</h1>
                <br>SPACEbüq aims to provide the most user friendly venue management platform in the market, and the simplest, comprehensive search experience for event planners and everyday people planning events.
                <br><br> <%= link_to "Create a Listing", dminlistings_path, class: "btn btn-primary" %> 
</div>

                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

                 