

<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
       <div class="carousel-caption">
          <h1>Search and book memorable venues.</h1>
          <p>Find the SPACE, b&uuml;q it!</p>
       
     <p><%= render 'listings/search' %></p>

      </div>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>


    <div class="item active">
    	<%= image_tag ('city.jpg'), size: "1500x600", :class => "img-responsive" %>  
    </div>
    <div class="item">
      <%= image_tag ('city2.jpg'), :size => "1500x600", :class => "img-responsive" %>
    </div>
    <div class="item">
      <%= image_tag ('city3.jpg'), :size => "1500x600", :class => "img-responsive" %>
      
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container-marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="fmodule1">
        <%= link_to listings_path(:q => {:city_or_province_or_country_cont => "Hamilton"}) do %>
      <h2>Hamilton Venues</h2>
      <br>Find a Venue in Hamilton.</br>
      <% end %>
    </div>
  </div>
    <div class="col-md-4 text-center">
        <div class="fmodule2">
      <%= link_to listings_path(:q => {:eventtypes_name_cont => "party"}) do %>
      <h2>Party Spaces</h2>
      <br>Find a cool space for your party.</br>
      <% end %>
    </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="fmodule3">
      <%= link_to listings_path(:q => {:eventtypes_name_cont => "conference"}) do %>
      <h2>Conference Rooms</h2>
      <br>Find your next meeting space.</br>
      <% end %>

    </div>
    </div>
  </div><!-- /.row -->

</div><!-- /.container -->


