<div class="row">

<h1>Listing All Venue Types</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venuetypes.each do |venuetype| %>
      <tr>
        <td><%= venuetype.name %></td>
        <td><%= link_to 'Show', venuetype %></td>
        <td><%= link_to 'Edit', edit_venuetype_path(venuetype) %></td>
        <td><%= link_to 'Destroy', venuetype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venue Type', new_venuetype_path %>

</div>
