<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venuetype.name %>
</p>

<%= link_to 'Edit', edit_venuetype_path(@venuetype) %> |
<%= link_to 'Back', venuetypes_path %> |
<%= link_to "Add Another Venue Type", new_venuetype_path %>