<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer" id="footer">
        <div class="container-marketing">
            <div class="row">
                <div class="col-lg-4  col-md-4 col-sm-3 col-xs-6">
                    <h3> Learn More </h3>
                    <ul>
                        <li> <%= link_to "How it Works", howitworks_path %></li>
                        <li> <%= link_to "Fees", fees_path %></li>
                        <li> <%= link_to "FAQs", faq_path %></li>
                        <li><%= link_to "About Us", aboutus_path %></li>
                    </ul>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-3 col-xs-6">
                    <h3> Connect </h3>
                    <ul>
                        <li> <a href="#"> Our Blog </a> </li>
                        <li> <%= link_to t('Contact US'), new_contact_path %></li>
                    </ul>
                    
                </div>
                
                <div class="col-lg-4  col-md-4 col-sm-3 col-xs-12 ">
                    <h3> Sign up for our Newsletter </h3>
                    <ul>
                        <li>
                                                <div id="mc_embed_signup">  
<form action="http://spacebuq.us8.list-manage.com/subscribe/post?u=bb1c54d5378ecd4b13ee28f10&amp;id=902832789f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    
<div class="col-md-7 col-md-offset-1 col-sm-12">
                                <input class="form-control subs-input" type="text" name="EMAIL" id="mce-EMAIL" placeholder="Type your email..." required>
          </div>
              <div class="col-md-3 col-sm-12">
                                <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default subs-submit">send</button>
                            </div>
                      </form>
</div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="http://facebook.com/spacebuq"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="http://twitter.com/spacebuq"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="http://google.com/+Spacebuqit"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="https://www.pinterest.com/spacebuq/"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="http:/www.youtube.com/Spacebuqit"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul><br>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    <div class="container">
    <div class="footer-bottom">
            <p class="pull-left"> Copyright © Spacebuq 2014-2015. All right reserved. </p>
            <div class="pull-right">
            </div>
</div>
    
    </div>
    <!--/.footer-bottom--> 
</footer>