<!DOCTYPE html>

<html>
<head>
	
  <title>SPACEbuq</title>
<%= favicon_link_tag 'favicon.ico' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="venues, spaces, event booking, weddings, parties, venue booking, find a venue">
  <meta name="p:domain_verify" content="9a853dffa9b3255150f0fa8886e3eafe"/>

  <!-- Google font -->
  <link href='http://fonts.googleapis.com/css?family=Lora|Nunito:400,300' rel='stylesheet' type='text/css'>

   <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTP8Oxu87vYZLdRAgmahs4eIHf79tAkX0">
    </script>
</head>
<body>
	 <div class="form-cl">
<div class="container">

  <% if current_page?(dashboard_path) %>
  <%= render "layouts/dashheader" %>
  <% else %>
  <%= render "layouts/header" %>
  <% end %>

	<%= yield %>
</div>

</div>

</body>
 <%= render "layouts/footer" %>
</html>
